@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
}

main {
    margin: auto;
    display: flex;
    box-shadow: 0 0 10px 5px hsla(241, 100%, 89%, 50%);
    border-radius: 15px;
}

.container-1 {
    background: linear-gradient(hsl(252, 100%, 67%), 30%, hsl(241, 81%, 54%));
    width: 260px;
    height: 360px;
    border-radius: 18px;
    padding: 13px;
}

.yore {
    text-align: center;
    color: hsl(241, 100%, 89%);
    padding-top: 23px;
    padding-bottom: 20px;
    font-size: 15px;
}

.circle {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 55%;
    height: 40%;
    margin-left: 22%;
    background: linear-gradient(hsla(241, 72%, 46%, 0.5), 75%, hsla(256, 72%, 46%, 0));
}

.score {
    text-align: center;
    color: white;
    font-size: 43px;
    padding-top: 30px;
}

.total {
    text-align: center;
    color: hsl(241, 100%, 89%, .5);
    font-size: 11px;
}

.gr {
    text-align: center;
    color: white;
    font-size: 13px;
}

.overview {
    text-align: center;
    color: hsl(241, 100%, 89%);
    font-size: 14px;
    padding-left: 20px;
}

.container-2 {
    background-color: white;
    width: 250px;
    height: 360px;
    padding: 13px;
    padding-left: 25px;
    border-radius: 15px;
    padding-right: 20px;
}

.sum {
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    color: hsl(224, 30%, 27%);
}

.box1 .test {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 5%);
    width: 200px;
    height: 40px;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.box2 .test {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 5%);
    width: 200px;
    height: 40px;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.box3 .test {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 5%);
    width: 200px;
    height: 40px;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.box4 .test {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 5%);
    width: 200px;
    height: 40px;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

strong {
    color: hsl(224, 30%, 27%);
}

.out-of {
    color: hsl(222, 8%, 44%);
}

.img {
    padding-right: 10px;
}

.name {
    padding-right: 60px;
}

.name2 {
    padding-right: 70px;
}

button {
    border: none;
    color: white;
    margin-left: 15px;
    background: linear-gradient(hsl(252, 100%, 67%), 30%, hsl(241, 81%, 54%));
    width: 170px;
    height: 35px;
    font-size: 12px;
    border-radius: 15px;
    margin-top: 10px;
}